@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@1,300&family=Poppins:wght@500&display=swap');


* {
    font-family: 'Poppins', sans-serif;
}

.cover-img {
    height: 100vh;
    object-fit: cover;
}

.cover-img img {
    filter: brightness(60%);
}